/* Geral */
body {
  font-family: 'Roboto', sans-serif;
  
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: slategrey;
  font-size: 16px;
}

/* Navegação */

header, .navbar {
  animation-name: mudar_gradiente;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
  margin-bottom: 50px;
}
@keyframes mudar_gradiente{
  0% {
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(25,25,25,1) 85%, rgb(130, 70, 6) 100%);
  }
  50% {
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(25,25,25,1) 85%, rgb(130, 35, 6) 100%);
  }
  100% {
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(25,25,25,1) 85%, rgb(130, 0, 6) 100%);
  }
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 90px;
}

#logo {
  width: 120px;
  padding-left: 40px;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
  font-size: 20px;
}
#navbar-links a:last-child {
  padding-right: 40px;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 1rem .8rem;
}

/* Slider */
.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 85vh;
}

#mainSlider .carousel-item img {
  filter: brightness(50%);
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px black;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 400;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 100px;
  color: #fdfdfd;
}

.main-btn {
  background-color: #681111;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  /* color: black; */
  background-color: #f36d00;
  /* border-color: #681111; */
}

.carousel-indicators .active {
  background-color: #f36d00;
}

/* sobre */
#about-area {
  background-color: #0f0f0f;
}

#about-area img {
  margin-bottom: 20px;
  border-radius: 5px;
  height: 455px;
  object-fit: cover;
}

.main-title {
  color: whitesmoke;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

#title::after {
  width: 300px;
  height: 50px;
  background-color: white;
}

.about-title {
  font-size: 17px;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
}

/* card */
#game-area {
  background-color: #0f0f0f;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  margin-bottom: 0;
  font-size: 16px;
}

#last-text {
  margin-bottom: 15px;
}

.card img {
  width: auto;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.card .btn {
  background-color: #681111;
  border-color: #681111;
}

.modal img {
  width: 100%;
  margin-bottom: 20px;
}

.modal-body p {
  color: black;
}

body.modal-open {
  overflow: hidden;
}

/* ROMs */
#roms {
  background-color: #0f0f0f;
}

.table {
  font-size: 20px;
}

#link {
  text-decoration: underline;
}

#link:hover {
  cursor: pointer;
}

footer {
  background-color: rgb(26, 1, 1);
  padding-top: 10px;
  height: auto;
  width: 100%;
  color: whitesmoke;
}

.footer_content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer_content img {
  width: 60px;
}

.footer_content p {
  max-width: 500px;
  margin: 1px auto;
  font-size: 14px;
}

#footer-last {
  margin-bottom: 15px;
}

.footer_bottom {
  background: black;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.footer_bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

/* responsive */
@media(max-width: 768px) {

  .container {
    padding: 20px 0;
  }

  /* slider */
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  /* about */
  #about-area img {
    margin-top: 130px;
  }
}

@media(max-width: 650px) {

  .container {
    padding: 20px 0;
  }

  /* slider */
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption {
    top: 20%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  /* about */
  #about-area img {
    margin-top: 130px;
  }

  /* jogos */
  #game-area .col-md-4 {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 30px;
  }
}

@media(max-width: 500px) {

  /* slider */
  #mainSLider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 30%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    font-size: 12px;
  }

  /* about */
  .main-title {
    font-size: 30px;
    margin-top: 20px;
  }

  #about-area img {
    margin-top: 0;
    height: 300px;
  }

  /* jogos */
  #game-area .col-md-4 {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 30px;
  }

  .card img {
    height: 200px;
  }
  
  /* roms */
  .table {
    font-size: 15px;
    margin-bottom: 50px;
  }
}

@media(max-width: 400px) {

  /* slider */
  #mainSLider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 20%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    font-size: 12px;
  }

  /* about */
  .main-title {
    font-size: 30px;
    margin-top: 20px;
  }

  #about-area img {
    margin-top: 0;
    height: 300px;
  }

  /* jogos */
  #game-area .col-md-4 {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 30px;
  }

  .card img {
    height: 200px;
  }
  
  /* roms */
  .table {
    font-size: 15px;
    margin-bottom: 50px;
  }
}